@font-face {
	font-family: "Helvetica Neue Bold";
	src: url("./fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"),
		url("./fonts/helveticaneuecyr-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue Roman";
	src: url("./fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"),
		url("./fonts/helveticaneuecyr-roman-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

label {
	display: block;
}

.section-header {
	display: flex;
	align-items: center;

	img {
		margin-right: 8px;
	}
}
